*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/release
.externalNativeBuild
.cxx
local.properties
app/build
app/release
app/src/main/res/drawable
app/src/main/res/raw
app/src/main/res/mipmap*
/.tmp.drivedownload/
/.tmp.driveupload/
/app/src/main/assets/pixabay/images/
/app/src/main/assets/pixabay/imageLicenseScreenshots/
